
#login {
    margin: auto;
    width: 20%;
    border: 3px solid darkblue;
    padding: 10px;
    color: white;
    text-align: center;
}

#result {
    margin: auto;
    width: 20%;
    border: 3px solid darkblue;
    padding: 10px;
    color: white;
    text-align: center;
}

body{
    background-color: #413333;
}

header  {
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

header img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
}

nav {
    margin: auto;
    width: 20%;
    border: 3px solid darkblue;
    padding: 10px;
    color: white;
    text-align: left; 
}

nav #profile {
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 10px;
    float: left;
}
nav img {
    width: 20px;
    height: 20px;
    display: block;
    margin-bottom: 10px;
}
nav #username{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

/*Sistemare come viene visuallizata la tabella di input che mette il testo al centro*/
nav #post{
    height: 100px;
}

main{
    margin: auto;
    width: 20%;
    border: 3px solid darkblue;
    padding: 10px;
    color: white;
    text-align: left; 
}
main #new_post {
    width: 20px;
    height: 20px;
    display: block;
    margin-bottom: 10px;
}

main img {
    width: 30px;
    height: 30px;
    display: block;
    float: left;
}

