body {
	background-color: #1e1e1e;
}

header {
	display: flex;
	justify-content: center;
}

header #Titolo {
	font-size: 40px;
	font-family: "Jaro", sans-serif;
	color: #ffffff;
}

header #logo {
	width: 10%;
	height: 10%;
}

#homepage {
	display: flex;
	border-style: solid;
	border-width: 2px;
	border-color: #444;
	border-radius: 8px;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	max-width: 1200px;
	margin: 0 auto;
}


nav {
	display: flex;
	align-items: center;
	flex-direction: row;
	
}

nav a {
	display: flex;
	justify-content: flex-start;
}

nav #username {
	display: flex;
	justify-content: flex-end;
}

nav img {
	width: 25%;
}

nav p img {
	width: 50px;
	height: 50px;
}

hr {
	width: 80%;
	max-width: 1150px;
	color: #444;
}
main{
 flex-direction: column;
}

main img {
	width: 5%;
}

.post {
	border-style: solid;
	border-color: #555;
	border-width: 2px;
	border-radius: 8px;
	margin: 5px;
	padding: 5px;
}
