body {
	background-color: #1e1e1e;
}

header {
	display: flex;
	justify-content: center;
}

header #Titolo {
	font-size: 40px;
	font-family: "Jaro", sans-serif;
	color: #ffffff;
}

header #logo {
	width: 10%;
	height: 10%;
}

#homepage {
	display: flex;
	border-style: solid;
	border-width: 1px;
	border-color: #444;
	border-radius: 8px;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	max-width: 1200px;
}


nav {
	display: flex;
	align-items: center;
	flex-direction: row;
	
}

nav a {
	display: flex;
	justify-content: flex-start;
}

nav #username {
	display: flex;
	justify-content: flex-end;
}

nav img {
	width: 25%;
}

main{
 flex-direction: column;
}

main img {
	width: 5%;
}
