body {
	background-color: #1e1e1e;
}

header {
	display: flex;
	justify-content: center;
}

header #Titolo {
	font-size: 40px;
	font-family: "Jaro", sans-serif;
	color: #ffffff;
}

header #logo {
	width: 10%;
	height: 10%;
}

nav {
	display: flex;
	justify-content: center;
}

nav img {
	width: 25%;
	height: 25%;
}
