body {
	background-color: #1e1e1e;
}

header {
	display: flex;
	justify-content: center;
}

header #Titolo {
	font-size: 40px;
	font-family: "Jaro", sans-serif;
	color: #ffffff;
}

header #logo {
	width: 10%;
	height: 10%;
}

.homepage {
	margin: auto;
	display: flex;
	justify-content: center;
	width: 50%;
	border-style: solid;
	border-width: 1px;
	vertical-align: top;
}

.homepage img {
	width: 20px;
	height: 20px;
}

