body {
	background-color: #1e1e1e;
}

.header {
	display: flex;
	justify-content: center;
}

.header #Titolo {
	font-size: 40px;
	font-family: "Jaro", sans-serif;
	color: #ffffff;
}

.home{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 720px;
	width: 480px;
}
