body {
    background-color: #1e1e1e;
}
header {
    display: flex;
    justify-content: center;
}

header #Titolo {
    font-size: 40px;
    font-family: "Jaro", sans-serif;
    color: #ffff;
}

.register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 348px;
    width: 322px;
    border-style: solid;
    border-width: 1px;
    border-color: #444;
    border-radius: 8px;
}

.register h2 {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #ffff;
}

.register .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register #login {
    color: #ffff;
}

.register input {
    border-radius: 8px;
    background: transparent;
    border-color: #444;
    border-style: solid;
    border-width: 1px;
    width: 272px;
    height: 30px;
    color: #ffff;
}