body {
    background-color: #1e1e1e;
}
header {
    display: flex;
    justify-content: center;
}

header #Titolo {
    font-size: 40px;
    font-family: "Jaro", sans-serif;
    color: #ffff;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 322px;
    border-style: solid;
    border-width: 1px;
    border-color: #444;
    border-radius: 8px;
}

.login h2 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #ffff;
}

.login #register {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #ffff;
}