<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Debate99</title> 
      	<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
      <link rel="stylesheet" href={{ url_for('static', filename="CSS/homepage_styles.css") }}
    </head>
    <body>
        <header>
            <h1 id="Titolo">Debate99</h1>
            <img src={{ url_for('static', filename="Sunshine.gif")}} id="logo">
        </header>
	<id id="homepage">
	<nav>
            <a href="/menu"><img id="menu_img" src={{ url_for('static', filename="Menu.png")}}></a>
            <p id="username"><img src={{ prof }} id="profile">{{ user.replace("%", " ") }}</p>
            
        </nav>
	<hr>
        <main>
            <a href={{ url_for('new_post', id=id)}}><img src={{ url_for('static', filename="post.png")}} id="new_post"></a>
            <br>
            <section id="post_container">
                {% for post in posts %}
                    <div class="post">
                        <p><img src={{ url_for('static', filename=post.img_profile)}}>{{ post.name }}</p>
                        <p>{{ post.post }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </section>
	</man>
	</id>
    </body>
</html>
