<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Debate99</title>
        <link rel="stylesheet" href={{ url_for('static', filename="CSS/homepage_styles.css") }}
    </head>
    <body>
        <header>
            <h1 id="Titolo">Debate99</h1>
            <img src={{ url_for('static', filename="Sunshine.gif")}} id="logo">
        </header>
	<div class="homepage">
        <nav>
            <a href="/menu"><img src={{ url_for('static', filename="Menu.png")}}></a>
            <p id="username"><img src={{ prof }} id="profile">{{ user.replace("%", " ") }}</p>
            
        </nav>
        <main>
            <a href={{ url_for('new_post', id=id)}}><img src={{ url_for('static', filename="post.png")}} id="new_post"></a>
            <br>
            <hr>
            <section id="post_container">
                {% for post in posts %}
                    <div class="post">
                        <p><img src={{ url_for('static', filename=post.img_profile)}}>{{ post.name }}</p>
                        <p>{{ post.post }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </section>
        </main>
	</div>
    </body>
</html>
