<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Debate99</title>
        <link rel="stylesheet" href={{ url_for('static', filename="styles.css") }}>
    </head>
    <body>
        <header>
            <h1>Debate99</h1>
        </header>
        <div id="result">
            <h2>{{ log }}</h2>
            <form action={{ URL }} target="_self">
                <input type="submit">
            </form>
        </div>
    </body>
</html>